@{
    ViewBag.Title = "Home Page";
}

<!-- Setting up connection with the database-->
@using WebMatrix.Data

@{
    var db = Database.Open("BoardGame");
    var selectQueryString = "SELECT * FROM BoardGame ORDER BY Name";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Index Page</h1>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <html>
    <body>
        <h1>Board Games</h1>
        <!-- board game table details-->
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Year Published</th>
                <th>Minimum Player(s)</th>
                <th>Maximum Player(s)</th>
                <th>ComAgeRec</th>
                <th>LanguageEase</th>
                <th>BestPlayers</th>
                <th>NumOwned</th>
                <th>NumWant</th>
                <th>NumWish</th>
                <th>MfgPlaytime</th>
                <th>ComMinPlayTime</th>
                <th>ComMinMaxPlayTime</th>
                <th>MfgAgeRec</th>
                <th>NumAlternates</th>
                <th>NumExpansions</th>
                <th>NumImplementaions</th>
                <th>Family</th>
                <th>ImagePath</th>
                <th>RankInboardgame</th>z
                <th>RankInstrategygames</th>
                <th>RankInfamilygames</th>
                <th>RankInthematic</th>

            </tr>


            @foreach (var row in db.Query(selectQueryString))
            {
                <tr>
                    <td>@row.Name</td>
                    <td>@row.Description</td>
                    <td>@row.YearPublished </td>
                    <td>@row.MinPlayers </td>
                    <td>@row.MaxPlayers </td>
                    <td>@row.ComAgeRec</td>
                    <td>@row.LanguageEase</td>
                    <td>@row.BestPlayers</td>
                    <td>@row.NumOwned</td>
                    <td>@row.NumWant</td>
                    <td>@row.NumWish</td>
                    <td>@row.MfgPlaytime</td>
                    <td>@row.ComMinPlayTime</td>
                    <td>@row.ComMaxPlayTime</td>
                    <td>@row.MfgAgeRec</td>
                    <td>@row.NumAlternates</td>
                    <td>@row.NumExpansions</td>
                    <td>@row.NumImplementations</td>
                    <td>@row.Family</td>
                    <td>@row.ImagePath</td>
                    <td>@row.RankInboardgame</td>z
                    <td>@row.RankInstrategygames</td>
                    <td>@row.RankInfamilygames</td>
                    <td>@row.RankInthematic</td>
                </tr>

            }
            }


        </table>
    </body>
</html>
</main>